.backup/**
.git/**
.gitignore
.vscode/**
docs/**
node_modules/**
scripts/**
src/**
test/**
uploads/**
*.log
*.vsix
tsconfig.json
static/**/*.map
dist/**/*.map
!dist/extension.js
!templates/chat.html
!static/**
